@tailwind base;
@tailwind components;
@tailwind utilities;

.login{
  
    /* background: url('https://tailwindadmin.netlify.app/dist/images/login-new.jpeg'); */
    background: url('https://images.unsplash.com/photo-1539639087565-41c59f40f3d7?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80');
  /* background: url('http://bit.ly/2gPLxZ4'); */
  background-repeat: no-repeat;
  background-size: cover;
}